<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated Gag -->
    <package uri="http://inria.fuchsia.gag.gag/process/" class="inria.fuchsia.gag.gag.process.ProcessPackage" genModel="model/Gag.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated Gag -->
    <package uri="http://inria.fuchsia.gag.gag/specification/" class="inria.fuchsia.gag.gag.specification.SpecificationPackage" genModel="model/Gag.genmodel" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.xdsml">
    <XDSML_Definition name="inria.fuchsia.gag.Gag" xdsmlFilePath="/inria.fuchsia.gag.gag/Gag.dsl" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
</plugin>
