<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated GagMT -->
    <package class="inria.fuchsia.gag.gagmt.process.ProcessPackage" genModel="model-gen/GagMT.genmodel" uri="http://inria.fuchsia.gag.gagmt/process/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated GagMT -->
    <package class="inria.fuchsia.gag.gagmt.specification.SpecificationPackage" genModel="model-gen/GagMT.genmodel" uri="http://inria.fuchsia.gag.gagmt/specification/"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="inria.fuchsia.gag.GagMT" uri="http://inria.fuchsia.gag.gagmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="inria.fuchsia.gag.GagMT" id="inria.fuchsia.gag.Gag" uri="http://inria.fuchsia.gag.gag/process/">
      <adapter class="inria.fuchsia.gag.gag.adapters.gagmt.GagAdapter" modeltypeId="inria.fuchsia.gag.GagMT"/>
    </language>
  </extension>
</plugin>
